# Nom du service PostgreSQL dans Dokploy (ex: postgres, kong-db, etc.)
KONG_PG_HOST=postgres

# Port PostgreSQL (5432 par défaut)
KONG_PG_PORT=5432

# Nom de la base de données
KONG_PG_DATABASE=kong

# Utilisateur PostgreSQL
KONG_PG_USER=kong

# Mot de passe PostgreSQL
KONG_PG_PASSWORD=CzOomQPnpHuDjcZcQeNI
